/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

/* Content styles */
.content {
    padding: 20px;
    flex-grow: 1;
}

/* NavBar styles */
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar-links li {
    margin-left: 20px;
    position: relative;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: block;
}

.navbar-links a:hover {
    color: #ddd;
}

/* Dropdown Menu */
.dropdown-content {
    display: none;
    position: absolute;
    background-col
